<footer>
    <section>
        <div class="footer-items">
          <h2>CATARSIS MELODY</h2>  
          <p>Envio gratis a todo el pais y hasta 18 cuotas sin interes.</p>
          <p>Guitarras, Home estudio, Audio profesional y mucho mas.</p>
        </div>
    </section>
        
    <section>
        <div class="footer-items">
            <h2>Links</h2>  
            <p>Nosotros</p>
            <p>Terminos y Condiciones</p>
            <p>Contacto</p>
        </div>
    </section>

    <section>
        <div class="footer-items">
            <h2>Mi cuenta</h2>
            <p>Mi cuenta</p>
            <p>Carrito</p>
            <p>Registrese!</p>
        </div>
    </section>

    <section>             
        <div class="footer-items">
            <h2>INFO</h2>
            <ul type="none">
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Boton de Arrepentimiento</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
            </ul>  
        </div>    
    </section>

    <section>
        <h2>CONTACTO</h2>
        <div class="footer-items">
            <ul type="none">
                <li><a href="#">1568270533</a></li>
                <li><a href="#">info@CrescentMelody.com.ar</a></li>
            </ul>  
        </div>   
    </section>

    <section>
        <div class="redes">
            <h2>SEGUINOS</h2>
            <ul type="none">
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
            </ul> 
        </div>
    </section>
</footer>