<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/create.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>

  <body>

    <%- include('../partials/header.ejs') %>

     <main>
      <div class="formulario">
        <h1 class>Añadir Productos</h1>
        <form action="/productos/create/" method="POST" enctype="multipart/form-data">
          <div class>
            <label for="nombre">Nombre del producto:</label>
            <br>
            <input class="item-form" type="text"  name="nombre" placeholder="Ej: violin">
          </div>

          <div class>
            <label for="categoria_id">Categoría:</label>
            <br>
            <select class="item-form"  name="categoria_id">
              <option value="">Seleccionar categoria</option>  
              <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
              <% }); %>
            </select>
          </div>

          <div class>
            <label for="colors">Colores:</label>
            <br>
            <input class="item-form" type="text"  name="colors" required>
          </div>

          <div class>
            <label for="precio">Precio:</label>
            <br>
            <input 
              class="item-form" 
              type="number"  
              name="precio">
          </div>

          <div class>
            <label for="imagen_producto">Imagen:</label>
            <br>
            <input class="item-form" type="file"  name="imagen_producto" accept="image/*">
          </div>

          <div class>
            <label for="descripcion">Descripción:</label>
            <br>
            <textarea id="descripcion" name="descripcion" rows="3" required></textarea>
          </div> 
          
          <input id="button-cargar" type="submit" value="Guardar">
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>

  </body>

  </html>