<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/create.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>

  <body>

    <%- include('../partials/header.ejs') %>

     <main>
      <div class="formulario">
        <h1 class>Añadir Productos</h1>
        <form action="/products/create/" method="POST" enctype="multipart/form-data">
          <div class>
            <label for="name">Nombre del producto:</label>
            <br>
            <input class="item-form" type="text"  name="name" placeholder="Ej: violin">
          </div>

          <div class>
            <label for="category">Categoría:</label>
            <br>
            <select class="item-form"  name="category">
              <option value="">Seleccionar</option>
              <option value="Accesorios">viento</option>
              <option value="Accesorios">Percusion</option>
              <option value="Accesorios">Electronico</option>
              <option value="Accesorios">Cuerdas</option>
              <option value="Accesorios">Otro</option>
            </select>
          </div>

          <div class>
            <label for="colors">Colores:</label>
            <br>
            <input class="item-form" type="text"  name="colors" required>
          </div>

          <div class>
            <label for="price">Precio:</label>
            <br>
            <input class="item-form" type="number"  name="price" min="0" step=".01" required>
          </div>

          <div class>
            <label for="image">Imagen:</label>
            <br>
            <input class="item-form" type="file"  name="image" accept="image/*" required>
          </div>

          <div class>
            <label for="description">Descripción:</label>
            <br>
            <textarea id="description" name="description" rows="3" required></textarea>
          </div> 
          
          <!-- <button type="submit">Cargar producto</button> -->

          <input id="button-cargar" type="submit" value="Guardar">
        </form>

        <a href="" class="action-button edit">EDITAR PRODUCTO</a>
        <form action="" method="POST" style="display: inline-flex">
          <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>

      </div>
    </main>

    <%- include('../partials/footer') %>

  </body>

  </html>