<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>


<main>
    <div class="grande">
        <!--Perspectivas y datos-->
        <article class="perspectivas">
             <div class="img0">
                 <img class="mas" src="/images/guitarra-criolla-perfil.png" alt="Guitarra criolla perfil">
                 <img class="mas" src="/images/guitarra-criolla-espalda.png" alt="Guitarra criolla espalda">
                 <img class="mas" src="/images/guitarra-criolla-cuerdas.png" alt="Guitarra criolla cuerdas">
                 <img class="mas" src="/images/guitarra-criolla-colores.png" alt="Guitarra criolla cuerdas">
             </div>
         </article>    
         <!--fotos-->
         <article>
             <img class="img1" src="/images/guitarra-criolla-frente.png" alt="Guitarra criolla frente">
         </article>
         
         <!--info1-->
        <article class="cajaInfo">
            <div class="caja1">
                <h1>Guitarra criolla clásica Gracia M1</h1>
                <h3>Precio:</h3>
                <h3 class="p">$49.999</h3>
             </div>
             <section class="uno">
                 <div class="color">
                     <h2>Seleccion de colores</h2>
                     <div class="form-group">
                         <input type="radio" name="color" id="negra">
                         <label for="negra">Negra</label>
                     </div>
                     <div class="form-group">
                         <input type="radio" name="color" id="marron" checked>
                         <label for="marron">Marron</label>
                     </div>
                     
                     <div class="form-group">
                         <input type="radio" name="color" id="roja">
                         <label for="roja">Roja</label>
                     </div>
                 </div>

                 <div class="desplegable">
                     <div class="envio1">
                         <i class="fa-solid fa-credit-card"></i>
                         <h2 class>Formas de pago</h2>
                     </div>
                     
                     <p>Aceptamos pagos en efectivo y con tarjeta de crédito. <br> Hasta 12 cuotas sin interés.</p>
                     <select name="forma" id="forma">
                         <option disabled selected="formas de pago">Formas de Pago</option>
                         <option value="tarjeta de credito">Tarjeta de credito</option>
                         <option value="tarjeta de debi4to">Tarjeta de debito</option>
                         <option value="efectivo">Efectivo</option>
                         <option value="billetera virtual">Billetera virtual</option>
                     </select>
                 </div>
                 <div class="envio">
                     <div class="envio1">
                         <i class="fa-solid fa-truck"></i>
                         <h2>Envío a Todo el País</h2>
                     </div>
                     <p>Realizamos envíos a todas las provincias de Argentina.</p>
                 </div>
                 
                 <div lass="cantidad">
                     <h2>Cantidad:</h2>
                     <input type="number" value="1" min="1" max="10">
                 </div>
                 <div class="botones">
                     <button class="comprar">
                         <h2>COMPRAR AHORA</h2>
                     </button>
                     <button class="añadir">
                         <h2>AÑADIR AL CARRITO</h2>
                         
                     </button>
                 </div>                
             </section>
         </article>
    </div>

    
     <!--Informacion-->
    <div class="informacion">
     <h4>Informacion del producto</h4>
     <p class="infor">Guitarra de fina construcción con corte. Media Caja. Tapa de Pino Abeto macizo seleccionado con mosaicos. Aros y fondo de Caoba laminado. Finísima marquetería en aros y fondos. Cenefa central. Mástil de Cedro y terminación mate. Diapasón de Jacarandá. Trastes de Alpaca. Clavijero Lira Dorado. Lustre natural. Excelente terminación. Cuerdas SAVAREZ New Cristal Corum Rojo/Azul Media Tensión. CON ECULIAZADOR PROFESIONAL CON SALIDA CANON Y SISTEMA DE ECUALIZACIÓN AUTOMÁTICA</p></p>
     </div>

     <section class="productosDestacados">
         <h4 >Productos destacados</h4>
         <div class="caja3-main">
             <div class="flecha">
                 <i class="fa-solid fa-chevron-left"></i>
             </div>

             <div class="card-list-products">
                 <div class="card">
                     <img class="img2" src="/images/trompeta-perfil.png"
                         alt=" trompeta-2">
                     <div class="cardPrice">
                         <h4 class="h41">Trompeta Bb Lincoln Winds Jytr1401 Dorada</h4>
                         <p class="p1">Precio:  $274.000</p>
                     </div>
                 </div>
                 <div class="card">
                     <img class="img2" src="/images/bateria-4.png"
                         alt=" bateria-parquer">
                     <div class="cardPrice">
                         <h4 class="h41">Bateria Acústica Parquer 5 Cuerpos Negra Platillos Soporte</h4>
                         <p class="p1">Precio: $311.357</p>
                     </div>
                 </div>
                 <div class="card">
                     <img class="img2" src="/images/ukelele.jpg"
                         alt="ukelele">
                     <div class="cardPrice">
                         <h4 class="h41">Ukelele Tenor Electro Acustico Bamboo U-26 Sapele Con Eq</h4>
                         <p class="p1">Precio: $99.773</p>
                     </div>
                 </div>
                 <div class="card">
                     <img class="img2" src="/images/violin-frente.png"
                         alt="Violin">
                     <div class="cardPrice">
                         <h4 class="h41">Violin 1/4 Custom Parquer Estuche/arco/resina Vl925 Cuota</h4>
                         <p class="p1">Precio: $65.792</p>
                     </div>
                 </div>
             </div>
             <div class="flecha">
                 <i class="fa-solid fa-chevron-right"></i>
             </div>
         </div>

     </section>
 </main>