<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>


<main>
    <h2>BUSCAR POR CATEGORIAS</h2>
            <section>
                <div class="categorias">
                    <h4>Viento</h4>
                    <img src="/images/saxofon.png" class="image-main">
                </div>
                <div class="categorias">
                    <h4>Percusion</h4>
                    <img src="/images/tambor.png" class="image-main">
                </div>
                <div class="categorias">
                    <h4>Cuerda</h4>
                    <img src="/images/guitarra-clasica-2.png" class="image-main">
                </div>
                <div class="categorias">
                    <h4>Electricos</h4>
                    <img src="/images/teclado.png" class="image-main">
                </div>
            </section>

    <h2>DESTACADOS</h2>                
            <section class="destacados">
                <div class="categoria-destacado">
                    <img src="/images/trompeta2.png" class="image-destacado">
                    <p>Trompeta Bb Lincoln Winds Jytr1401 Dorada Estuche</p>
                    <p>$ 274.000</p>
                </div>
                <div class="categoria-destacado">
                    <img src="/images/bateria2.png" class="image-destacado">
                    <p>Bateria Acústica Parquer 5 Cuerpos Negra Platillos Soporte</p>
                    <p>$ 311.357</p>
                </div>
                <div class="categoria-destacado">
                    <img src="/images/ukelele2.png" class="image-destacado">
                    <p>Ukelele Tenor Electro Acustico Bamboo U-26 Sapele Con Eq</p>
                    <p>$ 99.773</p>
                </div>
                <div class="categoria-destacado">
                    <img src="/images/violin2.png" class="image-destacado">
                    <p>Violin 1/4 Custom Parquer Estuche/arco/resina Vl925 Cuota</p>
                    <p>$ 65.792</p>
                </div>
            </section>

    <h2>OFERTAS</h2>            
        <section class="ofertas">
            <div class="categoria-oferta">
                <img src="/images/charango.jpg" class="image-destacado">
                <p>Charango Mantini Caja De Cedro Tallado Tapa De Abeto</p>
                <p>$ 168.657</p>
            </div>
            <div class="categoria-oferta">
                <img src="/images/pandereta2.png" class="image-destacado">
                <p>Pandereta Pandero 6 Knight 15 Cm Con Parche Y Sonaja 1712</p>
                <p>$ 5.719</p>
            </div>
            <div class="categoria-oferta">
                <img src="/images/platillos2.png" class="image-destacado">
                <p>Arborea Mute Gold Matte Set Platillos Bajo Volumen Practica</p>
                <p>$ 107.635</p>
            </div>
            <div class="categoria-oferta">
                <img src="/images/saxofon2.png" class="image-destacado">
                <p>Saxo Alto Yamaha Yas-280 Completo Con Estuche Boquilla Caña</p>
                <p>$ 1.663.636</p>
        </section>
    </div>
</main>