* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background: radial-gradient(#8BC34A, rgb(58, 100, 162));
}

/* header */

.navbar {
    background-color: #2121214f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 70px; */
 }
 .nav_logo {
     font-weight: bold;
     font-size: 20px;
     color: white;
     margin: 0 5px;
 }
 .nav_items {
     position: absolute;
     top: 50px;
     background-color: rgba(160, 160, 160, 0.637);
     display: flex;
     flex-direction: column;
     width: 100%;
     transform: translateX(-100%);
     transition: 0.3s ease all;
 }
 .nav_items a {
     margin: 15px;
     color: white;
     text-decoration: none;
     text-align: center;
 }
 .nav_toggle {
     display: flex; 
     flex-direction: column;
     margin: 15px;
 }
 
 .nav_toggle span {
     width: 30px;
     height: 4px;
     background-color: white;
     margin-bottom: 5px;
     border-radius: 2px;  
     transform-origin: 5px 0px;
     transition: all 0.2s linear;
 }
 .close span {
     transform:rotate(45deg) translate(0px, 0px);
 }
 .close span:nth-child(2){
     display: none;
 }
 .close span:nth-child(3){
     transform: rotate(-45deg) translate(-5px, 1px);
 }
 .open{ transform: translateX(0) !important}

.banner {
    display: none;
}

/* main */

main {
    background-color: rgba(46, 41, 41, 0.521); 
}

main h1 {
    text-align: center;
}

.article {
    display: flex;
}

.caja-menu {
    margin: 0px 5px;
    background: linear-gradient(#633974d0, #3498db81);
    border-radius: 5px;
    font-size: 13px;
    text-align: end;
}

.caja-menu h4, .caja-menu p, .caja-menu input {
    background-color: rgba(255, 255, 255, 0.678);
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
}

.caja-menu input {
    width: 20%;
    text-align: center;
}

/*  */

.seccion-bot-main {
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #ffffff80;
    text-align: center;
}
.formulario {
    padding: 10px;
    margin: 10px;
}
.create-form{
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 5px 0px;
}
.control-form {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    align-items: center;
}

.control-form label {
    margin-bottom: 5px;
    font-style:italic;
    font-size: 13px;
}

.control {
    width: 60%;
    padding: 5px;
} */

.subtotal-carrito {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.caja-boton {
    display: flex;
    justify-content: end;
}

.boton-compra {
    width: 40%;
    font-size: 15px;
    padding: 8px 6px;
    margin-top: 10px;
    text-align: end;
    
}

/* footer */

footer section {
    width: 80%;
    margin: 10px auto;
}
.footer-items, .redes {
    margin: 10px 0px;
    background-color: #2121217e;
    border-radius: 5px;
    text-align: center;
}
.footer-items h2 {
    margin-bottom: 10px;
}
.footer-items p, .caja a {
    padding: 2px 10px;
    display: block;
}
.redes {
    justify-content: space-between;
    text-decoration: none;

}
.caja2 {
    display: flex;
}
.redes a {
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    color: black;
}
.a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

@media (min-width: 768px) {

    /* header */

    .nav_logo {
        /* margin: 10px 20px; */
    }
    .nav_items {
        position:static;
        flex-direction: row-reverse;
        transform: translateX(0%);
        background-color: transparent;
    }
    .nav_items a {
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        position: relative;

    }
    .nav_items a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: rgb(12, 175, 93);
        transition: all 0.5s;
    }
    .nav_items a:hover::before{
        width: 100% !important;
    }
    #image-header {
        border-radius: 60px;
        width: 35px;

        margin: 0px 5px;
    }
    .nav_toggle {
        display: flex;
        margin: 0;
    }
    .nav_toggle span {
        display: none;
    }
    .banner {
        display: block;
    }
    .banner img {
        width: 100%;
    }
    .caja-categoria {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        /* margin: 5px 0px;  */
    }
    .categorias {
        margin: 12px 0px 0px;
    }

    /* main */

    main {
        width: 90%;
        margin: 10px auto;
        border-radius: 5px;
    }

    main h1 {
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgba(240, 255, 255, 0.363);
        font-size: 25px;
        /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    }
    .article {
        justify-content: center;
        /* background-color: #ffffff80; */
    }
    .caja-menu{
        font-size: 15px;
    }
    .caja-menu img {
        width: 150px;
    }
    .seccion-bot-main {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .formulario {
        width: 100%;
    display: flex;
    }
    .create-form {
        border: solid 1.5px #00000070;
        margin: 10px 20px;
    }

    /* footer */

    footer section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-items {
        width: 40%;
    }
}


@media (min-width: 1200px) {
    body {
        width: 1200px;
    }

    header {
        width: 90%;
        margin: auto;
    }

    .logo {
        width: 40%;
        height: auto;
    }

    .burger-menu, .burger-carrito {
        width: 70px;
        font-size: 40px;
        height: 70px;
    }

    .barra-busqueda {
        width: 60%;
        height: 80px;
    }

    .barra-busqueda input {
        width: 70%;
        height: 60px;
        font-size: 25px;
        text-align: center;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 2px;
    }
    
    .barra-busqueda i {
        font-size: 30px;
        width: 60px;
        height: 60px;
        margin: 0px 4px;
        padding: 13px 0px;
    }
    
    .sesion-register {
        font-size: 30px;
    }
    
    .sesion-register a {
        text-decoration: none;
        color: black;
        margin-right: 12px;
        margin-bottom: 5px;
        align-self: center;
    }
    
    /* main */
    main h1 {
        font-size: 45px;
    }

    .article-image {
        width: 150px;
    }

    .conteiner-article {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .item-conteiner {
        width: 100%;
        justify-content: space-around;
    }

    .txt-article {
        font-size: 22px;
        width: 23rem;
        height: auto;
    }

        
    .icon-article {
        width: 35px;
        border: solid 1px red;
        height: 35px;
    }

    .icon-article i {
        font-size: 25px;
    }
           
    .button-article input {
        /*     border: solid 1px red; */
            width: 90%;
            margin: 3px 3px;
            padding: 3px 2px;
    }
        
    .price-article {
        width: 8rem;
        border: solid 1px red;
        font-size: 25px;
    }

    .control-form, .control-form button {
        font-size: 23px;
    }

    .control-form select {
        font-size: 18px;
    }

    .control {
        font-size: 18px;
    }

    .subtotal-carrito, .create-form a  {
        font-size: 25px;
    }

    .caja-boton button {
        font-size: 22px;
        width: 45%;
    }

    /* footer */

    footer section {
        width: 100%;
    }
    .footer-items {
        width: 20%;
        justify-content: space-around;
    }

    .footer-items p {
        font-size: 15px;
    }
    .caja2 a {
        align-self: center;
    }
}