* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(#6524afbd, rgb(58, 100, 162));
}
/* header */

header {
    width: 100%;
    background-color:#2121217e;
    height: auto;
}

.conteiner-header {
    width: 100%;
    margin: 0;
    padding: 5px;
}

.top-bar-header {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.burger-menu, .burger-carrito {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    margin-top: -5px;
}

.logo {
    width: 55%;
    height: auto;
    text-align: center;
    display: flex;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.bot-bar-header {
    width: 100%;
    height: auto;
    display: flex;
}

.barra-busqueda {
    display: flex;
}

.barra-busqueda input {
    width: 80%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
}

.barra-busqueda i {
    font-size: 20px;
    margin: 0px 8px;
    align-self: center;
}

.sesion-register {
    text-align: end;
    width: auto;
    height: auto;
    margin-right: 5px;
}

.sesion-register a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* MAIN */

main {
    height: auto;
    padding-bottom: 10px;
}

main h2 {
    text-align: center;
}


section {
    background-color: rgba(136, 136, 136, 0.644);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
margin: 0px 10px;
text-align: center;
margin-bottom: 10px;
padding: 5px;
}

article:hover{
    box-shadow: 0px 0px 10px rgb(26, 26, 26); 
}

.image-destacado {
    background-color: #5f6a6a;
    width: 150px;
    height: 150px;
    padding: 5px;
}


/* footer */

footer section {
    border-radius: 10px;
    background-color: #2121217e;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 4px;
    text-align: center;
    justify-content: center;
}

section h2 {
    margin-bottom: 10px;
}

.redes ul {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

.redes a {
    font-size: 30px;
}

.section li {
    text-decoration: none;
}

@media (min-width: 768px) {

    .top-bar-header {
        background-color: rgba(153, 160, 95, 0.377);
        justify-content: space-between;
    }

    .logo {
        width: auto;
        height: 80px;
    }
    
    .bot-bar-header {
        justify-content: space-between;
    }

    .barra-busqueda {
        width: 60%;
    }

    .barra-busqueda input {
        width: 60%;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 2px;
    }
    
    .barra-busqueda i {
        font-size: 22px;
        width: 40px;
        height: 40px;
        margin: 0px 2px;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    .sesion-register {
        font-size: 23px;
        align-self: center;
    }
    
    .sesion-register a {
        text-decoration: none;
        color: black;
        margin-right: 12px;
        margin-bottom: 5px;
        align-self: center;
    }
    
    .bot-bar-header input {
        height: 40px;
        align-self: center;
    }

    /* main */
    main {
        margin-top: 10px;
        margin: auto;
    }

    main h2 {
        font-size: 25px;
    }

    section {
        margin: 5px auto;
        padding-bottom: 10px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;       
        justify-content: space-between; 
        flex-wrap: wrap;
        height: auto;
        border-radius: 10px;
    }

    article {
        margin: 10px;
        background-color: gray;
        text-align: center;
        border-radius: 10px;
    }
    
    .image-destacado {
        width: 140px;
        height: 140px;
    }

    article p {
        font-size: 15px;
        background-color: #c4c4c4;
        text-decoration: none;
    }

    /* footer */

    footer {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        }
    
        footer section {
            width: 30%;
            height: 160px;
        }

}


@media (min-width: 1200px) {

    header {
        width: 90%;
        margin: auto;
    }

    .logo {
        width: 40%;
        height: auto;
    }

    .burger-menu, .burger-carrito {
        width: 70px;
        font-size: 40px;
        height: 70px;
    }

    .barra-busqueda {
        width: 60%;
        height: 80px;
    }

    .barra-busqueda input {
        width: 70%;
        height: 60px;
        font-size: 25px;
        text-align: center;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 2px;
    }
    
    .barra-busqueda i {
        font-size: 30px;
        width: 60px;
        height: 60px;
        margin: 0px 4px;
        padding: 13px 0px;
    }
    
    .sesion-register {
        font-size: 30px;
    }
    
    .sesion-register a {
        text-decoration: none;
        color: black;
        margin-right: 12px;
        margin-bottom: 5px;
        align-self: center;
    }

    /* main */

    section {
        width: 90%;
    }

    .image-destacado {
        background-color: rgba(255, 255, 255, 0.507);
        width: 200px;
        height: 220px;
        margin: 5px auto;
    }

    /* footer */

    footer {
        width: 100%;
        flex-wrap: nowrap;
        margin-top: 30px 0px;
        border-top: solid 2px #0000006c;
        padding: 30px 0px;
    }

    footer section {
        flex-wrap: wrap;
        margin: 0px 10px;
        height: auto;
        padding: 0px 5px;
    }

    .footer-items ul, .footer-items p {
        font-size: 19px;
    }
}