/*nuevo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(#6524afbd, rgb(58, 100, 162));
}

.navbar {
    background-color: rgba(163, 163, 163, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 57px; */
 }
 .nav_logo {
     font-weight: bold;
     font-size: 20px;
     color: white;
     margin: 0 5px;
 }
 .nav_items {
     position: absolute;
     top: 50px;
     background-color: rgba(160, 160, 160, 0.637);
     display: flex;
     flex-direction: column;
     width: 100%;
     transform: translateX(-100%);
     transition: 0.3s ease all;
 }
 .nav_items a {
     margin: 15px;
     color: white;
     text-decoration: none;
     text-align: center;
 }
 .nav_toggle {
     display: flex; 
     flex-direction: column;
     margin: 15px;
 }
 
 .nav_toggle span {
     width: 30px;
     height: 4px;
     background-color: white;
     margin-bottom: 5px;
     border-radius: 2px;  
     transform-origin: 5px 0px;
     transition: all 0.2s linear;
 }
 .close span {
     transform:rotate(45deg) translate(0px, 0px);
 }
 .close span:nth-child(2){
     display: none;
 }
 .close span:nth-child(3){
     transform: rotate(-45deg) translate(-5px, 1px);
 }
 .open{ transform: translateX(0) !important}

.banner {
    display: none;
}

/* main */

.producto-image {
    background-color: #f3f3f381;
    border-radius: 10px;
    display: flex;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
}

.img1 {
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.418);
    margin: 10px auto;
}

.cajaInfo {
    /* background-color: #ebebed; */
}

.caja1 {
    /* background-color: rgba(128, 128, 128, 0.616); */
    /* width: 100%; */
    margin: auto;
    padding: 0px 40px;
    border-bottom: rgba(46, 46, 46, 0.466) 6px solid;
    /* border-top: rgba(46, 46, 46, 0.466) 10px solid; */
}

.p {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.623);
    margin: 10px 0;
    padding: 15px; 
    font-size: 20px;
}

.caja1 p {
    font-size: 13px;
    text-align: justify;
}

.desplegable, .envio, .cantidad, .botones {
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
}

.envio1 {
    display: flex;
    font-size: 15px;
}

.envio1 i {
    margin: auto 10px;
    color: rgb(5, 5, 112);
    font-size: 25px;
}

#forma {
    font-size: 15px;
    margin: 10px 0;
}

#forma option {
    font-size: 15px;
}

.botones {
    /* justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
}

.añadir {
    background-color: #f3f3f3;
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin: 10px 10px;
    align-self: center;
    text-decoration: none;
}

.añadir button {
    font-size: 15px;
    margin: auto;
    padding: 0 20px;
}

.informacion {
    display: none;
}

/* footer */

footer section {
    border-radius: 10px;
    background-color: #2121217e;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 4px;
    text-align: center;
    justify-content: center;
}

section h2 {
    margin-bottom: 10px;
}

.redes ul {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.redes a {
    font-size: 30px;
}

.section li {
    text-decoration: none;
}

@media (min-width: 768px) {

    .nav_logo {
        margin: 10px 20px;
    }
    .nav_items {
        position:static;
        flex-direction: row-reverse;
        background-color: orange;
        transform: translateX(0%);
    }
    .nav_items a {
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        position: relative;

    }
    .nav_items a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: rgb(255, 5, 159);
        transition: all 0.5s;
    }
    .nav_items a:hover::before{
        width: 100% !important;
    }

    #image-header {
        border-radius: 60px;
        width: 35px;
        margin: 0px 5px;
    }

    .nav_toggle {
        display: flex;
        margin: 0;
    }
    .nav_toggle span {
        display: none;
    }
    .banner {
        display: block;
    }
    .banner img {
        width: 100%;
    }

    /* main */

    .grande{
        display:flex;
        width: 90%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: auto;
        padding: 5px;
        background: linear-gradient(to top,rgb(142, 149, 160) , 20%, #b8bb026b);
        /* margin-top: 10px; */
    }
    .producto-image {
        width: 80%;
        margin: 10px 10px;
        padding: 15px;
        height: 50%;
    }

    .img1{
        display:flex;
        margin: 0;
        width: 100%;
        border-radius: 10px;
        color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cajaInfo {
        width: 80%;
    }
    .caja1 {
        padding: 0px 10px;
        border: none;
    }
    .p {
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.623);
        margin: 10px 0;
        padding: 10px 15px; 
        font-size: 14px;
    }
    .caja1 p {
        font-size: 12px;
        text-align: justify;
    }
    .desplegable, .envio, .cantidad, .botones {
        padding: 5px 10px;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.466);
        border-radius: 10px;
    }
    .envio1 {
        display: flex;
        font-size: 10px;
    }
    .envio1 i {
        margin: auto 10px;
        font-size: 15px;
    }
    
    .cantidad h2 {
        font-size: 15px;
    }

    #forma {
        font-size: 12px;
        margin: 10px 0;
    }
    
    #forma option {
        font-size: 12px;
    }
    
    .botones {
        /* justify-content: space-around; */
        display: flex;
        flex-wrap: wrap;
    }
    
    .añadir {
        background-color: #f3f3f3;
        font-size: 15px;
        text-align: center;
        width: 40%;
        margin: 10px 10px;
        align-self: center;
        text-decoration: none;
    }
    
    .añadir button {
        font-size: 15px;
        margin: auto;
        padding: 0 0px;
    }
    
    .informacion {
        display: none;
    }

    /* footer */

    footer {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    footer section {
        width: 30%;
        height: 160px;
    }

}

@media (min-width: 1200px) {

    .grande{
        width: 70%;
        margin: 10px auto;
    }
/*     h2{
        background-color: yellowgreen;
    }
 */
    .producto-image {
        padding: 10px;
        margin: 10px 10px;
    }    
    .img1{
        width: 95%;
        padding: 5px;
        margin: auto; 
    }
    .cajaInfo{
        display:flex;
        flex-direction: column;
        width: 80%;
        /* padding: 10px; */
        /* align-items: center; */
        background-color: rgba(0, 0, 0, 0.178);
        border-radius: 10px;
        margin: 10px 10px;
    }
    .caja1 {
        /* width: 90%; */
        /* margin: 10px auto; */
    }
    .caja1 p {
        display: none;
    }
    .p{
        font-size: 18px;
        /* width: 100%; */
        color: white;
    }
    .desplegable, .envio, .cantidad, .botones {
        margin: 5px 10px;
    }

    .envio1{
        display: flex;
        flex-direction: row;
        align-items:end;
        padding-right: 3px;
    }

    .cantidad {
        display: flex;
        align-items: center;
    }
    #forma {
        font-size: 15px;
        /* margin: 10px 0px; */
    }
    .cantidad h2 {
        /* margin: 10px 10px 10px 0px; */
        margin-right: 10px;
    }

    .botones{
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }    
    .añadir{
        cursor: pointer;
        background-color: rgba(255, 255, 0, 0.562);
        border-radius: 10px;
     }
    .añadir button {
        background-color: gray;
        border-radius: 10px;
    }
    .botones :hover{
        background-color: rgb(245, 75, 115);
        transition: 1s ;
    }

    .botones h2{
        padding: 5px;
    }
    
    .informacion{
        border-radius: 10px;
        background-color: #ebebed ;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    h4{
        text-align: center;
        font-size: x-large;
        padding: 5px;
    }
    .infor{
        padding: 5px;
        margin: 5px;
    }
    
    .informacion {
        display: block;
    }
     
    /* footer */

    footer {
        width: 100%;
        flex-wrap: nowrap;
        margin-top: 30px 0px;
        border-top: solid 2px #0000006c;
        padding: 30px 0px;
    }

    footer section {
        margin: 0px 10px;
        height: auto;
        padding: 0px 5px;
    }

    .footer-items ul, .footer-items p {
        font-size: 19px;
    }
}