* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background: linear-gradient(#6524afbd, rgb(58, 100, 162));
}

/* header */

.navbar {
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 57px; */
}
.nav_logo {
   font-weight: bold;
   font-size: 20px;
   color: white;
   margin: 0 5px;
}
.nav_items {
   position: absolute;
   top: 50px;
   background-color: rgba(160, 160, 160, 0.637);
   display: flex;
   flex-direction: column;
   width: 100%;
   transform: translateX(-100%);
   transition: 0.3s ease all;
}
.nav_items a {
   margin: 15px;
   color: white;
   text-decoration: none;
   text-align: center;
}
.nav_toggle {
   display: flex; 
   flex-direction: column;
   margin: 15px;
}

.nav_toggle span {
   width: 30px;
   height: 4px;
   background-color: white;
   margin-bottom: 5px;
   border-radius: 2px;  
   transform-origin: 5px 0px;
   transition: all 0.2s linear;
}
.close span {
   transform:rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2){
   display: none;
}
.close span:nth-child(3){
   transform: rotate(-45deg) translate(-5px, 1px);
}
.open{ transform: translateX(0) !important}

.banner {
  display: none;
}

/* main */

.form-register {
  width: 90%;
  background: #FFC3A1;
  padding: 25px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  color: rgb(112, 112, 112); 
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #ffffffe0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #b17b18;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(112, 112, 112); 
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: rgb(251, 255, 0);
  text-decoration: none;
}

.form-register a:hover {
  color: rgb(251, 255, 0);
  text-decoration: underline;
}

.form-register .botons {
  width: 40%;
  background: #af8b28;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  margin-left: 25px;
  font-size: 16px;
}

#button-cargar {
  font-size: 15px;
  padding: 3px;
  width: 30%;
  margin: 10px 0px;
}

.is-valid {
  background-color: rgba(25, 135, 84, 0.39);
  border: 2px #198754;
}

.is-invalid {
  background-color: #F8D7DA;
  border: 2px solid #842029;
}
.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
}

/*footer*/
footer section {
border-radius: 10px;
background-color: #2121217e;
width: 80%;
height: auto;
margin: auto;
margin-top: 10px;
padding: 4px;
text-align: center;
justify-content: center;
}

section h2 {
margin-bottom: 10px;
}

.redes ul {
margin: auto;
height: auto;
width: 80%;
display: flex;
justify-content: space-around;
text-decoration: none;

}

.redes a {
font-size: 30px;
}

.section li {
text-decoration: none;
}

@media (min-width: 768px) {

/* header */

.nav_items {
  position:static;
  flex-direction: row-reverse;
  /* background-color: orange; */
  transform: translateX(0%);
}
.nav_items a {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  position: relative;

}
.nav_items a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 5, 159);
  transition: all 0.5s;
}
.nav_items a:hover::before{
  width: 100% !important;
}

#image-header {
  border-radius: 60px;
  width: 35px;

  margin: 0px 5px;
}

.nav_toggle {
  display: flex;
  margin: 0;
}
.nav_toggle span {
  display: none;
}
.banner {
  display: block;
}
.banner img {
  width: 100%;
}

/* main */

.form {
  padding-left: 10px;
}
.form-register {
  width: 40%;
} 
.controls {
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
} 

/* footer */

footer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
  
footer section {
  width: 30%;
  height: 160px;
}
}

@media (min-width: 1200px) {

/* main */

.form-register {
  width: 25%;
}

/* footer */

footer {
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 30px 0px;
  border-top: solid 2px #0000006c;
  padding: 30px 0px;
}

footer section {
  margin: 0px 10px;
  height: auto;
  padding: 0px 5px;
}

.footer-items ul, .footer-items p {
  font-size: 19px;
}

}