<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practica pa</title>
    <link rel="stylesheet" href=" /css/practica.css">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <div class="conteiner-header">
        <div class="top-bar-header">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <img src="/images/CATARSIS2.png" class="logo">
            <div class="burger-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>            
        </div>
        <div class="bot-bar-header">
            <div class="barra-busqueda">
                <input type="text" placeholder="¿Que estas buscando?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="sesion-register">
                <a href="#">iniciar sesion</a>
                <a href="#">registro</a>
            </div>
        </div>
    </div>

    </header>

    <main>
        <div><h1>Carrito de compras</h1></div>
        <section>
            <article class="conteiner-article">
                <img src="/images/guitarra-clasica-valencia.jpg" width="100px" class="article-image">  
            <div class="item-conteiner">
                <div class="txt-article">
                    <h4>Guitarra Negra Clasica Valencia|Intermedio|Color Esfumado Satinado</h4> 
                </div>
                <div class="icon-article">
                    <i class="fa-solid fa-trash-can"></i> 
                </div>
                <div class="button-article">
                    <input type="number"> 
                </div>
                <div class="price-article">
                    <h5>$ 250.500,00</h5> 
                </div>
            </div>
            </article>    

            <article class="conteiner-article">
                <img src="/images/bateria-pearl.jpg" width="100px" class="article-image">
            <div class="item-conteiner">
                <div class="txt-article">
                    <h4>Bateria Pearl Decade Maple 229 White Satin Pearl 4 Cuerpos</h4> 
                </div>
                <div class="icon-article">
                    <i class="fa-solid fa-trash-can"></i> 
                </div>
                <div class="button-article">
                    <input type="number"> 
                </div>
                <div class="price-article">
                    <h5>$ 250.500,00</h5> 
                </div>
            </div>
            </article>
            
            <article class="conteiner-article">
                <img src="/images/guitarra-negra-criolla-gracia-.jpg" width="100px" class="article-image">
            <div class="item-conteiner">
                <div class="txt-article">
                    <h4>Guitarra Negra Clasica Valencia|Intermedio|Color Esfumado Satinado</h4>  
                </div>
                <div class="icon-article">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <div class="button-article">
                   <input type="number"> 
                </div>
                <div class="price-article">
                   <h5>$ 250.500,00</h5> 
                </div>  
                </div>
  
            </article>
        </section>

        <section class="seccion-bot-main">
            <div>
                <h2>shipping Calculator</h2>              
            </div>            
            <div class="formulario">
                <form action="/shipping-calculator" method="POST" class="create-form">       
                <div class="control-form">
                    <label>Provincia</label>
                    <select name="provincia" class="control">
                        <option value="Jujuy">Jujuy</option>
                        <option value="Salta">Salta</option>
                        <option value="Rio Negro">Rio Negro</option>
                        <option value="Cordoba">Cordoba</option>
                        <option value="Catamarca">Catamarca</option>
                        <option value="Chubut">Chubut</option>
                    </select> 
                </div>
                <div class="control-form">
                    <label>Ciudad</label>
                    <input type="text" name="Ciudad" placeholder="Ciudad" class="control">
                </div>
                <div class="control-form">
                    <label>Codigo Postal</label>
                    <input type="number" name="CodigoPostal" placeholder="Su codigo Postal" class="control">
                </div>
                <div class="control-form">
                    <button type="submit">Actualizar</button>
                </div>
                </form>
            </div>

            <div><h2>Total del carrito</h2></div>
        <div class="formulario">
            <div class="create-form">
                <div class="subtotal-carrito">
                    <h5>subtotal del carrito</h5>
                    <p>$ 1.270.000</p>
                </div>
                <div class="subtotal-carrito">
                    <h5>Pedido Total</h5>
                    <p>$ 1.270.000</p>
                </div>
                <div class="caja-boton">
                    <button type="submit" class="boton-compra">Finalizar Compra</button>
                </div>
                <div>
                    <a href="http://localhost:3020/">Continuar Comprando</a>
                </div>
            </div>            
        </div>

        </section>
    </main>

    <footer>
        <section>
            <div class="footer-items">
              <h2>CATARSIS MELODY</h2>  
              <p>Envio gratis a todo el pais y hasta 18 cuotas sin interes.</p>
              <p>Guitarras, Home estudio, Audio profesional y mucho mas.</p>
            </div>
        </section>
            
        <section>
            <div class="footer-items">
                <h2>Links</h2>  
                <p>Nosotros</p>
                <p>Terminos y Condiciones</p>
                <p>Contacto</p>
            </div>
        </section>

        <section>
            <div class="footer-items">
                <h2>Mi cuenta</h2>
                <p>Mi cuenta</p>
                <p>Carrito</p>
                <p>Registrese!</p>
            </div>
        </section>

        <section>             
            <div class="footer-items">
                <h2>INFO</h2>
                <ul type="none">
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Promociones</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Boton de Arrepentimiento</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>  
            </div>    
        </section>

        <section>
            <h2>CONTACTO</h2>
            <div class="footer-items">
                <ul type="none">
                    <li><a href="#">1568270533</a></li>
                    <li><a href="#">info@CrescentMelody.com.ar</a></li>
                </ul>  
            </div>   
        </section>

        <section>
            <div class="redes">
                <h2>SEGUINOS</h2>
                <ul type="none">
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
                </ul> 
            </div>
        </section>


    </footer>

</body>
</html>