<footer>
        <div class="footer-items">
            <h2>CATARSIS MELODY</h2>
            <div class="caja">
                <p>Envio gratis a todo el pais y hasta 18 cuotas sin interes.</p>
                <p>Guitarras, Home estudio, Audio profesional y mucho mas.</p>  
            </div>  
        </div>

        <div class="footer-items">
            <h2>MI CUENTA</h2>
            <div class="caja">
                <a href="#" class="a">Mi cuenta</a>
                <a href="#" class="a">Carrito</a>
                <a href="#" class="a">Registrarse</a>
            </div>
        </div>
          
        <div class="footer-items">
            <h2>INFO</h2>
            <div class="caja">
                <a href="#" class="a">Quienes Somos</a>
                <a href="#" class="a">Promociones</a>
                <a href="#" class="a">Como Comprar</a>
                <a href="#" class="a">Boton de Arrepentimiento</a>
                <a href="#" class="a">Trabaja con nosotros</a>
            </div>
        </div>    
        
        <div class="footer-items">
            <h2>CONTACTO</h2>
            <div class="caja">
                <p>Tel: 1568270533</p>
                <p>CatarsisMelody@gmail.com</p>
            </div>
        </div>   

        <div class="footer-items">
            <h2>SEGUINOS</h2>
            <div class="caja2">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
            </div>
        </div>
</footer>
