<header>
    <div class="conteiner-header">
        <div class="top-bar-header">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <a href="/">
                <img src="/images/CATARSIS2.png" class="logo">    
            </a>
            <div class="burger-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>            
    </div>
    <div class="bot-bar-header">
            <div class="barra-busqueda">
                <input type="text" placeholder="¿Que estas buscando?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="sesion-register">
                <a href="/users/login">iniciar sesion</a>
                <a href="/users/registro">registro</a>
            </div>
    </div>
</header>