<header>
    <nav class="navbar">
        <div class="nav_logo">
            <a href="/">
                <img src="/images/logo.png" width="80px">
             </a>
        </div>
        <div class="nav_items" id="_items">
            <% if (locals.isLogged) { %>
                <a href="/productos/create">CREAR PRODUCTO</a>
                <a href="/usuariosDB/logout">CERRAR SESION</a>
                <a href="/productos/carrito">CARRITO <i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/usuariosDB/perfil">
                    <img id="image-header" src="/images/users/<%= locals.usuarioLogueado.imagen_perfil %>">
                    <%= locals.usuarioLogueado.nombre %>
                </a>
            <% } else { %>
                <a href="/usuariosDB/login">INICIAR SESION</a>
                <a href="/usuariosDB/create">REGISTRARSE</a>
            <% } %>  
        </div>
        <div class="nav_toggle" id="_toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
   </nav>
<!--    <div class="banner">
        <img src="/images/banner4.png">
    </div> -->

   <script class="script">
    _toggle.onclick = () =>{
        _items.classList.toggle("open")
        _toggle.classList.toggle("close")
    }
   </script>    
</header>

