<%- include('./partials/head') %>
  <link rel="stylesheet" href="css/creation.css" />
  </head>

  <body>

    <%- include('../partials/header.ejs') %>

     <main>
      <div class="formulario">
        <h1 class>Formulario de carga de productos</h1>
        <form action="/cargar-producto" method="POST" enctype="multipart/form-data">
          <div class>
            <label for="name">Nombre del producto:</label>
            <input type="text" id="name" name="name" required>
          </div class>

          <div class>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" rows="3" required></textarea>
          </div>

          <div class>
            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
          </div>

          <div class>
            <label for="category">Categoría:</label>
            <select id="category" name="category" required>
              <option value="">Seleccionar</option>
              <option value="Celulares">Celulares</option>
              <option value="Accesorios">Accesorios</option>
            </select>
          </div>

          <div class>
            <label for="colors">Colores:</label>
            <input type="text" id="colors" name="colors" required>
          </div>

          <div class>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" min="0" step=".01" required>
          </div>
        
          <button type="submit">Cargar producto</button>
        </form>
      </div>
    </main>

    <%- include('./partials/footer') %>

  </body>

  </html>