<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="form-login">

            <% if (locals.errors) { %>
                <% for( let oneError in errors) { %>
                    <p> <%= errors[oneError].msg %></p>
                <% } %>
            <% } %>
            <form action="/users/login/" method="POST">
                <label for="Email"></label>
                <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su correo ">
                    
                <label for="password"></label>
                <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">

                <label for="recordame"></label>
                <input type="checkbox" name="recordame">

                <p>Esta de acuerdo con  <a href="#">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
            </form>
            <h4>login</h4>

        </section>        
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

